---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #F05F40;
$theme-dark: #222;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;

#about img {
	max-width: 100%;
}

.quote-block {
    margin-bottom: 3em;
}

.quote-block::before {
    content: "“";
    position: absolute;
    top: -0.6em;
    left: 0;
    font-size: 12em;
    color: rgba(255, 255, 255, 0.25);
}

.quote-block .quote-name {
    font-weight: bold;
    display: block;
    text-align: right;
    padding-right: 2em;
}

ul.tabcontrol.tabs {
    margin: 0;
    height: 28pt;
    border-bottom: 1px solid #c0c0c0;
}

ul.tabcontrol.tabs li.tab {
    float:left;
    padding: 5pt 10pt;
    cursor: pointer;
    list-style-type: none;
    border-bottom: 3px solid white;
}

ul.tabcontrol.tabs li.tabcontrol.tab.active {
    font-weight: bold !important;
    border-bottom: 3px solid #999;
}

div.tabcontrol.body.fullborder {
    padding: 10px 0;
}

div.text-center table {
    margin: 10pt auto;
}

div.text-center table thead {
    border-bottom: 1px solid black;
}

div.text-center pre, div.text-center ul {
    text-align: left;
}

div.text-center img {
    max-width: 100%;
}

.bg-primary p a {
    color: white;
    text-decoration: underline;
}

div.side-nav {
    font-size: +20%;
}

div.side-nav > ul {
    padding-left: 0;
    margin: 10pt 0;
}

div.side-nav li {
    list-style: none;
}

div.side-nav a {
    color: #fff;
}

div.side-nav .active h5 {
    font-weight: bold;
}

div.app_thumbnail {
    float: left;
    width: 280pt;
    height: 280pt;
    margin: 0 20pt;
}

div.app_thumbnail a {
    display: block;
    font-weight: bold;
    font-size: 14pt;
}

div.app_thumbnail img {
    max-width: 250pt;
    max-height: 250pt;
}

@media (max-width: 768px) {
div.app_thumbnail {
    max-width: 100%;
    margin: 0;
}

div.app_thumbnail img {
    max-width: 85%;
}
}
