<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get In Touch!</h2>
                <hr class="primary">
                <p>We're excited to hear from anyone interested in the project.
                  Whether it's to find out more, provide suggestions or to 
                  get involved - drop us a line!</p>
		<p>If you would like to join us on slack but are not yet signed
		  up to the golang slack server you can 
		  <a href="https://invite.slack.golangbridge.org/">request an invite</a>.
            </div>
        <div class="col-lg-3 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-3 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-3 text-center">
            <a href="https://github.com/{{ site.github_username }}" target="_blank">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>
        <div class="col-lg-3 text-center">
            <a href="https://gophers.slack.com/app_redirect?channel={{ site.slack_channel }}" target="_blank">
            <i class="fa fa-comments fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>#{{ site.slack_channel }}</p>
            </a>
	    <div style="margin-top:-14pt">(<a href="https://invite.slack.golangbridge.org/" target="_blank">sign up</a>)</div>
        </div>

    </div>
</section>
