<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features of Fyne</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Quality and Design</h3>
                    <p class="text-muted">Built with the best design, test and validation proceedures we aim for the highest level of standard in quality and design. All apps should be clear and simple to use and never fail to meet user expectations.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>We Love Usability</h3>
                    <p class="text-muted">The Fyne framework is designed for usability at the core, By providing widgets and layouts that adapt cleanly to the user context developers can focus on functionality and not user interface testing. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-download wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Easy to install</h3>
                    <p class="text-muted">Straight forward to get set up you don't have to worry about packages or dependencies. Our app explorer will help you find the latest apps, keep everything up to date and stay secure.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cog wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Simple Development</h3>
                    <p class="text-muted">The APIs, technologies and tools are designed with ease of development in mind. We want you to enjoy building great apps with Fyne!</p>
                </div>
            </div>
        </div>
    </div>
</section>
