<div class="header-container jumbotron" style="background-image: url(/img/header-{{ include.header_img }}.jpg)">
    <div class="container">
        <div class="header-content-inner">
		<h1 class="post-title">{%
if page.headline == %}{%
    if page.layout == "blog" or page.layout == "post"
        %}{{ site.blog-headline }}{%
    else if include.headline
        %}{{ include.headline }}{%
    else
        %}{{ site.headline }}{%
    endif %}{%
else
    %}{{ page.headline }}{%
endif %}</h1>
        </div>
    </div>
</div>
