<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
{% if page.layout == 'front' %}
{%   assign root = '' %}
{% else %}
{%   assign root = '/' %}
{% endif %}

            <a class="navbar-brand page-scroll" href="{{ root }}#page-top">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
			<a class="page-scroll" href="{{ root }}#about">About</a>
                </li>
                <li>
			<a class="page-scroll" href="{{ root }}#features">Features</a>
                </li>
                <!--li>
			<a class="page-scroll" href="{{ root }}#portfolio">Portfolio</a>
                </li-->
                <li>
			<a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li>
			<a href="blog.html">Blog</a>
                </li>
                <li>
                    <a href="community.html">Community</a>
                </li>
                <li>
                    <a href="contribute.html">Contribute</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
