.jumbotron {
    text-align: center;
    padding: 8em 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

.jumbotron h1 {
    margin: 0;
    font-family: 'Poppins', 'Helvetica Neue', Arial, sans-serif;
    font-weight:600;
}

.galleryPic img {
    max-width: 100%;
}

.bg-primary {
    background-color: #03076c;
    font-size: 110%;
}

section.about, section.started {
    padding: 28pt;
}

section.features {
    background-color: white;
    color: #03076c;
    padding: 25pt;
}

section.features, section.features p, section.features i {
    color: #03076c;
}

section.devices {
    margin-top: -75pt;
    margin-bottom: 10pt;

    display: grid;
    justify-content: center;
}

section.devices .container {
    width: 100%;
    white-space: nowrap;
}

section.devices img {
    scale: 1.0;
    padding: 0 12pt;
    margin: auto;
}

@media only screen and (max-width: 768px) {
section.devices img {
    scale: 0.75;
    padding: 0;
    margin: 0 -20pt;
}

section.devices .text-center {
    margin-top: -20pt;
    margin-bottom: -25pt;
}
}

.quote-block {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.quote-block::before {
    content: "“";
    position: absolute;
    top: -0.6em;
    left: 0;
    font-size: 12em;
    color: rgba(255,255,255,0.15);
}
