<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html header_img="blog" %}

<section id="about">

<div class="container">
<div class="row">
<div class="col-lg-9">

  {% for post in site.posts limit: 10 %}
    <a id="{{ post.slug }}"></a>
    <a href="{{post.url}}#about"><h3>{{ post.title }}</h3></a>
    <p>{{ post.content }}</p>
    {% if forloop.last == false %}
    <hr />
    {% endif %}
  {% endfor %}

</div>
<div class="col-lg-3">
  {% include bloglist.html %}
</div>
</div>
</div>

</section>

  {% include aside.html %}
  {% include contact.html %} 
  {% include scripts.html %}
</body>

</html>
