<!DOCTYPE html>
<html lang="en">

{% include head.html %}
{% include scripts.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html header_img="develop" headline="Developing apps with Fyne" %}

<div class="row" style="margin: 0; background-color: #f05f40">

<div class="col-lg-3 side-nav">
    <ul>
    {% assign items = site.develop | sort: 'order' %}
    {% for develop in items %}
        {% if develop.group != %}
    </ul>
    <h4 class="nav-group">{{ develop.group }}</h4>
    <ul>
        {% endif %}

        <li class="{% if develop.url == page.url %}active{% endif %}">
            <a href="{{ develop.url }}"><h4>{{ develop.title }}</h4></a></li>
    {% endfor %}
    </ul>
</div>

<div class="text-center col-lg-9" style="background-color: white" markdown="1">

    {{ content }}

</div>

</div>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
        <h2>Summary</h2>
        <hr class="light" />
	{{ page.summary }}
            </div>
        </div>
    </aside>

  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
