<!DOCTYPE html>
<html lang="en">

{% include head.html %}
{% include scripts.html %}

<body id="page-top">
  {% include nav.html %}
<header style="background-image: url(/img/header-develop.jpg); min-height: 250pt !important;">
    <div class="header-content" style="margin-top: 35pt">
        <div class="header-content-inner">
		<h1>Developing with Fyne</h1>
            <hr>
            <p>Start developing your own apps with the Fyne toolkit</p>
        </div>
    </div>
</header>

<div class="row" style="margin: 0">

<div class="col-lg-2 side-nav bg-primary">
    <ul>
    {% assign items = site.develop | sort: 'order' %}
    {% for develop in items %}
    {% if develop.order == 20 or develop.order >= 1000 %}
        <li><hr class="light" /></li>
        {% endif %}
        <li class="{% if develop.url == page.url %}active{% endif %}">
            <a href="{{ develop.url }}"><h5>{{ develop.title }}</h5></a></li>
    {% endfor %}
    </ul>
</div>

<div class="text-center col-lg-10" markdown="1">

    {{ content }}

    <section class="bg-dark" style="margin: auto -15px; padding: 75pt 20pt" markdown="1">

        <h2>Summary</h2>
        <hr class="light" />
	{{ page.summary }}
    </section>

</div>

</div>

  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
