---
layout: default
---

<div class="post">
    {% include header.html header_img="blog" %}
</div>

<section id="about">

<div class="container">
<div class="row">
<div class="col-lg-9">

            <h1>{{ page.title }}</h1>
            <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            <div  id="markdown-content-container">{{ content }}</div>
            <hr>
            <ul class="pager">
                {% if page.previous %}
                <li class="previous">
                    <a href="{{ page.previous.url | relative_url }}">
                        <span aria-hidden="true">&larr;</span> Older
                    </a>
                </li>
                {% endif %} {% if page.next %}
                <li class="next">
                    <a href="{{ page.next.url | relative_url }}">
                      Newer <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
                {% endif %}

</div>
<div class="col-lg-3">
  {% include bloglist.html %}
</div>
</div>
</div>

</section>

<div class="post">
  {% include contact.html %}
</div>